name: CI
on:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:

jobs:
  Test-Backend:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: backend
    steps:
      - uses: actions/checkout@v2
      - name: Run test
        run: |
          docker-compose -f docker-compose.test.yml up --exit-code-from backend --build
      - name: Generate deployment package
        run: zip -r deploy.zip . -x '*.git*'
